/**MIS FUENTES
font-family: 'Josefin Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;**/

/** MIS COLORES
rgb(240, 233, 210)
rgb(230, 221, 196)
rgb(103, 137, 131)
rgb(24, 29, 49)
**/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@-webkit-keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {opacity: 0.6;
    }
    100% {opacity: 1;
    }}
@keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}
@-webkit-keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}
@keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }

}
.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck-top {
    0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-top {
    0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
    }
}
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	animation: swirl-in-fwd 0.6s ease-out both;
}  
@-webkit-keyframes swirl-in-fwd {
    0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
opacity: 0;
    }
    100% {
-webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
opacity: 1;
    }}@keyframes swirl-in-fwd {
    0% {
-webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
opacity: 0;
    }
    100% {
-webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
opacity: 1;
    }}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
    }
}
@-webkit-keyframes focus-in-contract {
    0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    }
}
@keyframes focus-in-contract {
    0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    }
}
@-webkit-keyframes slit-in-vertical {
    0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    }
    54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    }
    100% {
    -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}
@keyframes slit-in-vertical {
    0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    }
    54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    }
    100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
    }
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	animation: wobble-hor-bottom 0.8s both;
}
.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slit-in-vertical {
	-webkit-animation: slit-in-vertical 0.45s ease-out both;
	animation: slit-in-vertical 0.45s ease-out both;
}
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}
@-webkit-keyframes swirl-in-fwd {
    0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
    }
}
@keyframes swirl-in-fwd {
    0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
    }
}
body {
    background: rgb(240, 233, 210);
    background: radial-gradient(circle, rgba(240, 233, 210, 1) 0%, rgba(103, 137, 131, 1) 100%);
    font-family: 'Josefin Sans', sans-serif;
}
header{background-color: #181D31;color: #678983;}

.botoncolor{background-color: #678983;}
.colorNav{
    background-color:#181D31;
    color:#678983;}
.nav-link {color: #678983;
font-family: 'Ubuntu', sans-serif;
padding: 20px;}
.navbar-brand{color: #678983;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;}

h2{font-size: medium;}
nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #678983;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
}
.grillaMateando img {
    max-width: 60%;
}
.grillaCatalogo img {
    max-width: 60%;
}
.grillaQuienes img {
    max-width: 60%;
}

.grillaCatalogo footer img{max-width: 100%;}
.grillaMateando footer img{max-width: 100%;}
.grillaQuienes footer img{max-width: 100%;}





/*INDEX*/
.grillaMateando {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo"
        "foto1 ahora12 foto2"
        "memes memes memes"
        "messi1 roman1 marado1"
        "footer footer footer";
    gap: 20px;
}


.titulo {
    grid-area: titulo;
    background-color: gray;
    font-family: 'Josefin Sans', sans-serif;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.foto1 {
    grid-area: foto1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding: 20px;
}
.mate-logo{padding: 10px;}

.foto2 {
    grid-area: foto2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahora12 {
    grid-area: ahora12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messi1 {
    grid-area: messi1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roman1 {
    grid-area: roman1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marado1 {
    grid-area: marado1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memes {
    grid-area: memes;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #181D31;
    color: #678983;
    padding: 5px;
    border: 5px solid #678983;
}

footer {
    grid-area: footer;
    background-color: #181D31;
    color: #678983;
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.circle1 {
    border-radius: 50%;
    border: #181D31 5px solid;
}

.menu{display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.fotome img {
    border-radius: 50%;
    border: #E6DDC4 5px solid;
}

.imaIndex {
    border-radius: 2%;
    border: #678983 double 5px;
}

.ahora1 {
    background-color: #F0E9D2;
}




/*QUIENES SOMOS**/
.grillaQuienes {
    display: grid;
    grid-template-areas:
        "titulo2 titulo2 titulo2"
        "foto-grupo foto-grupo foto-grupo"
        "textoquien textoquien textoquien"
        "local1 textoLocal local2"
        "footer footer footer";
    gap: 20px;
}

.local1 {
    grid-area: local1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.local2 {
    grid-area: local2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local1 img, .local2 img {
    border-radius: 50%;
    border: #181D31 10px solid;
    width: 70%;
}

.textoLocal {
    grid-area: textoLocal;
    display: flex;
    align-items: center;
    justify-content: center;
;
}

.textoLocal p {
    color: #181D31;
    border: #181D31 5px solid;
    background-color: #678983;
    font-family: 'Josefin Sans', sans-serif;padding: 20px;
}


.titulo2 {
    grid-area: titulo2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: gray;
    font-family: 'Josefin Sans', sans-serif;
    height: 60px;
}

.foto-grupo {
    grid-area: foto-grupo;
    display: flex;
    justify-content: center;
}

.foto-grupo img {
    border: #181D31 5px solid;
}

.textoquien {
    grid-area: textoquien;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;padding: 20px;
}

.textoquien p {
    border: #181D31 10px double;
    background-color: gray;padding: 30px;
}

.grillaCatalogo {
    display: grid;
    grid-template-areas:
        "titulo3 titulo3 titulo3"
        "producto1 producto2 producto3"
        "producto4 producto5 producto6"
        "producto7 producto8 producto9"
        "footer footer footer";
    gap: 20px;
}

.zoomCat{
    border: black 2px solid;
    border-radius: 5%;

}



.titulo3 {
    grid-area: titulo3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #181D31;
    background-color: gray;
    font-family: 'Josefin Sans', sans-serif;
    height: 60px;
}

.producto1 {
    grid-area: producto1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
}

.producto2 {
    grid-area: producto2;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto3 {
    grid-area: producto3;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto4 {
    grid-area: producto4;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto5 {
    grid-area: producto5;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto6 {
    grid-area: producto6;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto7 {
    grid-area: producto7;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto8 {
    grid-area: producto8;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}

.producto9 {
    grid-area: producto9;
    display: flex;
    align-items: center;
    background-color: #678983;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
}


.zoomCat {
    transition: transform .1s; 
}

.zoomCat:hover {
    transform: scale(1.2); 
}

/*Como comprar*/
.grillaComo{
    display: grid;
    grid-template-areas:
    "titulo4 titulo4 titulo4"
    "listaCompra listaCompra listaCompra"
    "enviosM cuotasM descuentoM"
    "footer footer footer";
    gap: 20px;
}
.titulo4{grid-area: titulo4;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: #181D31;
        background-color: gray;
        font-family: 'Josefin Sans', sans-serif;
        height: 60px;
    }
.listaCompra{grid-area: listaCompra;
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
height: 400px;
padding: 20px;
border: #181D31 5px double;
margin: 20px;
}
.enviosM{grid-area: enviosM;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
height: 200px;}
.cuotasM{grid-area: cuotasM;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
height: 200px;}
.descuentoM{grid-area: descuentoM;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
height: 200px;}
/*grilla Matetips*/
.grillaMatetips
{   display: grid;
    grid-template-areas:
    "titulo5 titulo5 titulo5"
    "reseña reseña reseña"
    "comoCurar comoCebar comoCuidar"
    "footer footer footer";gap: 20px;}
.titulo5{grid-area: titulo5;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
height: 60px;
background-color: gray;}
.reseña{grid-area: reseña;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
background-color: #678983;
height: 40px;
border: #181D31 5px double;}
.comoCurar{grid-area: comoCurar;display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 10px;
padding: 20px;}
.comoCebar{grid-area: comoCebar;display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 10px;
padding: 20px;
}
.comoCuidar{grid-area: comoCuidar;display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 10px;
padding: 20px;}
.grillaMatetips img{max-width: 70%;}
.menu ul li{
    font-weight: normal;}

    /*FORMULARIO*/
.titulo6{
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    background-color: gray;
    width: 100%;
justify-content: center;}
.formu1{
    border: black 5px double;margin: 50px 0px 50px 0px;
    background-color:#F0E9D2;
}
.flexFormu{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}
@media screen and (max-width:769px) {

    .grillaMateando {
        grid-template-areas:
            "titulo titulo"
            "foto1 foto2"
            "ahora12 ahora12"
            "memes memes"
            "messi1 roman1"
            "marado1 marado1"
            "footer footer";
    }

    .grillaQuienes {
        grid-template-areas:
        "titulo2 titulo2"
        "foto-grupo foto-grupo"
        "textoquien textoquien"
        "textoLocal textoLocal"
        "local1 local2"
        "footer footer";
    }
    .grillaMateando footer img{max-width: 100%;}

    .grillaCatalogo {
        display: grid;
        grid-template-areas:
            "titulo3 titulo3"
            "producto1 producto2"
            "producto3 producto4"
            "producto5 producto6"
            "producto7 producto8"
            "producto9 0"
            "footer footer";
        gap: 20px;
        font-family: 'Josefin Sans', sans-serif
    }
    .grillaComo{
        display: grid;
        grid-template-areas:
        "titulo4 titulo4"
        "listaCompra listaCompra"
        "enviosM cuotasM"
        "descuentoM descuentoM"
        "footer footer";
        gap: 20px;
    }
    .grillaMatetips{
    grid-template-areas:
    "titulo5 titulo5"
    "reseña reseña"
    "comoCurar comoCebar"
    "comoCuidar comoCuidar"
    "footer footer"}
    .comoCuidar{margin: 150px;}
    
footer{height: 200px;}

.listaCompra{height: 700px;}
}

@media screen and (max-width:481px) {
    nav ul li {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin: 2px;
        font-size: small;
    }

    
    .grillaMateando {
        grid-template-areas:
            "titulo"
            "foto1"
            "ahora12"
            "foto2"
            "memes"
            "messi1"
            "roman1"
            "marado1"
            "footer";

    }

    .grillaQuienes {
        
        grid-template-areas:
            "titulo2"
            "foto-grupo"
            "textoquien"
            "textoquien"
            "textoquien"
            "textoLocal"
            "local1"
            "local2"
            "footer";
    }

    .grillaCatalogo {
        display: grid;
        grid-template-areas:
            "titulo3"
            "producto1"
            "producto2"
            "producto3"
            "producto4"
            "producto5"
            "producto6"
            "producto7"
            "producto8"
            "producto9"
            "footer";
    }
    .grillaComo{
        display: grid;
        grid-template-areas:
        "titulo4"
        "listaCompra"
        "enviosM"
        "cuotasM"
        "descuentoM"
        "footer";
    }
    .grillaMatetips{
        grid-template-areas:
        "titulo5"
        "reseña"
        "comoCurar" 
        "comoCebar"
        "comoCuidar"
        "footer"}
        .comoCuidar{margin: 20px;}
    .listaCompra{height: 1200px;}
    .reseña{height: 70px;}
    footer{height: 100px;}
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight:100;
        font-size: x-large;
        padding: 2px;
        text-align: center;
    }
.logo {flex-wrap: wrap;}
.menu ul li{
    font-weight: lighter;
font-size: large;}
.navbar-brand{display: flex;align-items: center;
flex-direction: column;
padding: 0px;
justify-content: center;
margin-right: 0px;}

.grillaMateando footer img{max-width: 100%;}
}

